// Tang Nano 9K (GW1NR-LV9QN88PC6/I5) - 40-pin RGB LCD connector + clock/reset.
// LCD pins from the Sipeed wiki RGB-screen example (cross-checked with a
// third-party working project). SPI slave pins are added in a later milestone.

IO_LOC "LCD_R[0]" 75;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_R[1]" 74;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_R[2]" 73;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_R[3]" 72;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_R[4]" 71;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_G[0]" 70;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_G[1]" 69;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_G[2]" 68;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_G[3]" 57;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_G[4]" 56;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_G[5]" 55;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_B[0]" 54;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_B[1]" 53;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_B[2]" 51;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_B[3]" 42;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_B[4]" 41;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_DEN" 33;
IO_PORT "LCD_DEN" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_SYNC" 34;
IO_PORT "LCD_SYNC" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_HYNC" 40;
IO_PORT "LCD_HYNC" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LCD_CLK" 35;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "XTAL_IN" 52;
IO_PORT "XTAL_IN" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "nRST" 4;
IO_PORT "nRST" PULL_MODE=UP;

// SPI slave + MIPI-DBI control (from the Linux/PocketBeagle 2 side).
// Pin numbers taken from a working Tang Nano 9K project (gcardi/LCD): IO25/27/28/29
// are 3.3 V header pins; IO36 shares the microSD clock - leave the SD slot empty.
IO_LOC "SPI_SCK" 36;
IO_PORT "SPI_SCK" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "SPI_MOSI" 25;
IO_PORT "SPI_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SPI_CS_N" 27;
IO_PORT "SPI_CS_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "DBI_DC" 28;
IO_PORT "DBI_DC" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "DBI_RST_N" 29;
IO_PORT "DBI_RST_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
